#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: rgb(2, 58, 93);
    height: 7rem;
    width: 100vw;
    gap: 50px;

    img{
        width: 300px;
        height: 90px;
    }
}

@media only screen and (min-width:700px){
    #footer{
        height: 160px;
    }

    #footer img{
        scale: 1.3;
    }
}